# Virtual environment
.venv/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Keras model files
*.keras

# Numpy / experiment outputs
*.npy

# Jupyter
.ipynb_checkpoints

# Editor settings
.vscode/
.idea/
*.swp

# OS files
.DS_Store

# logs
*.log

# lockfiles
requirements-lock.txt

# Ignore any results subfolder whose name starts with "test"
results/test*/
results/test_*/
